<script type="text/javascript">
  document.onready = function () {
      var game = new GitMan.Game("#game");
//      game.start();
  }
</script>

<canvas id="game" width="320" height="240">
</canvas>

<div class="explanation">
  Controls:
  <ul>
    <li>h - left</li>
    <li>j - down</li>
    <li>k - up</li>
    <li>l - right</li>
  </ul>
</div>
